.page-content {
    
    display: flex;
    justify-content: space-between;
    
}


img {
    width: 100%;
    
}

#left {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


h2 {
   
   font: 1.7em sans-serif;
   font-weight: bolder;

}